### Task 2

Part of assignments for the Machine Learning and Statistics modulel of the Higher Diploma in Science in Data Analytics course at ATU 2023

Winter 23/24

Author: Jarlath Scarry

### Task 2

### Chi-square test

Consider the below contingency table based on a survey asking respondents whether they prefer coffee or tea and whether they prefer plain or chocolate biscuits. Use scipy.stats to perform a chi-squared test to see whether there is any evidence of an association between drink preference and biscuit preference in this instance.

            Biscuits
            Chocolate    Plain
Drink Coffee 43 57

    Tea     56           45

### Assumptions for Chi-square test

When you choose to analyse your data using a chi-square test for independence, you need to make sure that the data you want to analyse "passes" two assumptions. You need to do this because it is only appropriate to use a chi-square test for independence if your data passes these two assumptions. If it does not, you cannot use a chi-square test for independence. These two assumptions are:

Assumption #1:
Your two variables should be measured at an ordinal or nominal level (i.e., categorical data). You can learn more about ordinal and nominal variables in our article: Types of Variable.

Assumption #2:
Your two variable should consist of two or more categorical, independent groups. Example independent variables that meet this criterion include gender (2 groups: Males and Females), ethnicity (e.g., 3 groups: Caucasian, African American and Hispanic), physical activity level (e.g., 4 groups: sedentary, low, moderate and high), profession (e.g., 5 groups: surgeon, doctor, nurse, dentist, therapist), and so forth. These independent groups should not have any overlap. For example Tea or coffee drinker, Well sometimes I drink Tea, and sometimes Coffee. This is not accepted. The choice should be either or.

In the section, Procedure, we illustrate the SPSS Statistics procedure to perform a chi-square test for independence. First, we introduce the example that is used in this guide.

https://statistics.laerd.com/spss-tutorials/chi-square-test-for-association-using-spss-statistics.php

We have Two variables which are cross tabulated on the table. One variable is Drinks with a choice of Tea or Coffee on the Verticle axis on the Left, and the other Variable is Bisciuts with ca choice of Chocolate or Plain on the horizontal axis at the top.

### Chi-Square Tests

    
### Laerd Statistics Chi-Square Test for Independence

https://statistics.laerd.com/spss-tutorials/chi-square-test-for-association-using-spss-statistics.php

In [8]:
import pandas as pd
import random

import scipy.stats as ss
from scipy.stats.contingency import crosstab


coffee_chocolate = [['Coffee','Chocolate']]*43
coffee_plain = [['Coffee','Plain']]*57
tea_chocolate = [['Tea','Chocolate']]*56
tea_plain = [['Tea','Chocolate']]*56

raw_data = coffee_chocolate + coffee_plain + tea_chocolate + tea_plain
#shuffle the data
random.shuffle(raw_data)
# Zip the list - make the rows columns and the columns rows
# Interchange the outer and inner lists
drink, biscuit = list(zip(*raw_data))  #2 lists, one with deing and one with biscuits.

# create a data frame
df = pd.DataFrame({'drink': drink, 'biscuit': biscuit})

df  # df generated from the table in the question.

      drink    biscuit
0       Tea  Chocolate
1       Tea  Chocolate
2    Coffee  Chocolate
3       Tea  Chocolate
4       Tea  Chocolate
..      ...        ...
207     Tea  Chocolate
208     Tea  Chocolate
209     Tea  Chocolate
210  Coffee  Chocolate
211     Tea  Chocolate

[212 rows x 2 columns]

## Contingency Table

https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.contingency.crosstab.html

scipy.stats.contingency.crosstab

Return table of counts for each possible unique combination in *args.

In [9]:
#cross = pd.crosstab(index=df['drink'], columns=df['biscuit'])
#cross

In [10]:
# Perform Crosstabs Contingency.

cross = ss.contingency.crosstab(df['drink'], df['biscuit'])
# Show.
cross

CrosstabResult(elements=(array(['Coffee', 'Tea'], dtype=object), array(['Chocolate', 'Plain'], dtype=object)), count=array([[ 43,  57],
       [112,   0]]))

In [13]:
first, second = cross.elements
first, second

(array(['Coffee', 'Tea'], dtype=object),
 array(['Chocolate', 'Plain'], dtype=object))

In [14]:
cross.count

array([[ 43,  57],
       [112,   0]])

In [15]:
import scipy
print('SciPy version:', scipy.__version__)

SciPy version: 1.11.3

In [16]:
df[df['drink'] == first[0]]

      drink    biscuit
2    Coffee  Chocolate
5    Coffee      Plain
7    Coffee  Chocolate
8    Coffee      Plain
13   Coffee      Plain
..      ...        ...
198  Coffee      Plain
199  Coffee  Chocolate
202  Coffee  Chocolate
206  Coffee  Chocolate
210  Coffee  Chocolate

[100 rows x 2 columns]

Statistical Test
https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.chi2_contingency.html

In [17]:
#the contingency table
cross.count

# Do the statistics. Just do them.
result = ss.chi2_contingency(cross.count, correction=False)

# Show.
result

Chi2ContingencyResult(statistic=87.31664516129032, pvalue=9.24664373812942e-21, dof=1, expected_freq=array([[73.11320755, 26.88679245],
       [81.88679245, 30.11320755]]))

In [18]:
# The expected fequencies if independent.
result.expected_freq

array([[73.11320755, 26.88679245],
       [81.88679245, 30.11320755]])

In [19]:
# Preferred drinks irrespective of gender.
43 / 100

0.43

In [20]:
# If no relationship between gender and medium,
# then we should have same proportion of males
# liking books as we have overall.
50 * (43 / 100)

21.5

In [21]:
# If no relationship between gender and medium,
# then we should have same proportion of people liking
# online who are female as we have overall.
51 * (43 / 100) ###need to check this

21.93